# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
ENV/
env/
venv.bak
.env

# Secrets - VERY IMPORTANT
*.env
.env.*
secrets.toml

# IDE / Editor specific
.vscode/
.idea/
*.DS_Store